.custom-link {
    color: #555;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
}
  
.custom-link:hover {
    background-color: #dbdbdb;
    color: #000;
    text-decoration: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.03);
}
  
.divider {
    width: 1px;
    height: 24px;
    background-color: #ddd;
    align-self: center;
}